{% load static %}

<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="{% static 'grace_bday/css/style.css' %}" />

<body>

<div class="bgimg">
  <div class="topleft">
    <p>Feast on Jan 27 2018 at 07:30pm CST</p>
  </div>
  <div class="middle">
    <!--<h1>Celebrating 18 year old birthday for Grace!</h1>-->
    <p class="center_text">Celebrating 18 year old birthday for Grace!</p>
    <hr>
    <p class="counter" id="demo"></p>
  </div>
</div>

<script src="{% static 'grace_bday/js/countdown.js' %}"></script>

</body>
</html>

